site_name: margarine
theme:
  name: material
  features:
    - navigation.sections
    - navigation.top
    - search.highlight
    - search.suggestions
  palette:
    - scheme: default
      primary: blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
plugins:
  - include-markdown
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [margarine]
          options:
            show_root_heading: true
            heading_level: 2
nav:
  - Home: index.md
  - Tutorials: tutorials.md
  - API Reference: api-reference.md
  - Roadmap: roadmap.md
